
<div class="container">
    <div class="frame">
        <img class="icon" src="/assets/mountain_icon.png" alt="">
        <h5 class="loginTxt">LOG IN</h5>
        <div class="usernameBox">
            <span class="material-symbols-outlined">
                person
                </span>
            <input type="text">
        </div>
       
        <div class="passwordBox ">
            <span class="material-symbols-outlined">
                lock
                </span>
            <input type="password">
        </div>
    
        <div class="rememberMe">
            <input type="checkbox" class="checkbox" name="checkbox" id="">
            <span>Remember me</span>
        </div>
        

        <button class="loginBtn">Login</button>

        <div id="g_id_onload"
     data-client_id="1000803082840-pkjvql4c0f8tal4q3n3f0cua0440k39g.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="https://googlelogin.onrender.com/api/login"
     data-auto_select="true"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="filled_blue"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>


<!-- google sign in button ends -->
    </div>
</div>
<!-- google sign in button begins -->
